@font-face {
    font-family: 'ElMessiri';
    src: url('../fonts/EIMessiri/ElMessiri-Bold.woff') format('woff'),
    url('../fonts/EIMessiri/ElMessiri-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Semibold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Bold.woff2') format('woff2');
    font-weight: 700;
}