.swiper-container {
    padding: 60px 0 110px;
    @media (max-width: 1200px) {
        padding: 60px 0;
    }
}
.swiper-slide {
    transition: 0.5s;
    opacity: 0.5;
    @media (max-width: 1200px) {
        opacity: 1;
    }
}

.swiper-slide-active {
    transform: scale(1.2) !important;
    transition: 0.5s;
    opacity: 1;
    @media (max-width: 1200px) {
        transform: none !important;
    }
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: $white;
    margin: 0 20px;
    border-radius: 3px;
}